@tailwind base;
@tailwind components;
@tailwind utilities;

/* For decalring the color palette */
*{
    font-family: 'Poppins', sans-serif;
}
:root {
    --bg: #F5F5F5;
    --grey_light: #C2C2C2;
    --grey: #8F8F8F;
    --grey_dark: #333333;
    --black: #01030A;
    --blue: #1501A1;
    --royal_blue: #051341;
    --orange: #FF4801;
}

/* For the navbar in the header of the cpmponents folder */
.navbar{
    background-color: var(--bg);
}